services:

  # --- Frontend ---
  vandvoyage-nodejs-frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=https://maps.vandvoyage.com/api
    container_name: vandvoyage-nodejs-frontend
    restart: always
    depends_on:
      - vandvoyage-nodejs-backend
    networks:
      - traefik
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - TZ=${TZ}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.vandvoyage-frontend.rule=Host(`maps.vandvoyage.com`)"
      - "traefik.http.routers.vandvoyage-frontend.entrypoints=websecure"
      - "traefik.http.routers.vandvoyage-frontend.tls.certresolver=letsencrypt"
      - "traefik.http.services.vandvoyage-nodejs-frontend.loadbalancer.server.port=80"

  # --- Backend ---
  vandvoyage-nodejs-backend:
    build: ./backend
    container_name: vandvoyage-nodejs-backend
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - TZ=${TZ}
      - PORT=5000
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.vandvoyage-backend.rule=Host(`maps.vandvoyage.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.vandvoyage-backend.entrypoints=websecure"
      - "traefik.http.routers.vandvoyage-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.vandvoyage-backend.middlewares=vandvoyage-stripprefix"
      - "traefik.http.middlewares.vandvoyage-stripprefix.stripprefix.prefixes=/api"
      - "traefik.http.services.vandvoyage-nodejs-backend.loadbalancer.server.port=5000"

networks:
  traefik:
    external: true
